# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/VK-JAVA final.iml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/
git
src/src.iml
src/src/main/resources/
src/src/test/
javastatistics/javastatistics.iml
javastatistics/pom.xml
javastatistics/src/main/java/com/vksoftware/javastatistics/model/
javastatistics/src/main/resources/
javastatistics/src/test/
